# App
SECRET_KEY=gerar_32chars_aleatorios_aqui
APP_PORT=8006

# IXC MySQL
IXC_HOST=186.148.228.42
IXC_PORT=3306
IXC_USER=escrita
IXC_PASS=CZ5QYpdjc1RqAP
IXC_DB=ixcprovedor

# PRTG
PRTG_URL=https://186.148.228.10
PRTG_USER=cliquedf
PRTG_PASSHASH=1855869054
PRTG_VERIFY_SSL=false

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_NOC=

TZ=America/Maceio
